.equipment {
    /*Size*/
    height: calc(100vh - 180px);
    width: calc(100vw - 160px);
    /*Layout*/
    display: grid;
    grid-template-areas: "inventory proficiencies search";
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    /*Border*/
    border-image: var(--border-default);
    border-image-slice: 25% 25%;
    border-image-width: 50px 50px;
    border-radius: var(--radius);
    /*Boundaries*/
    gap: 10px;
    /*Color and Text Styles*/
    /*Interactive*/
}


.equipment div.inventory {
    /*Size*/
    height: calc(100vh - 180px);
    /*Layout*/
    grid-area: inventory;
    display: grid;
    grid-template-areas: "pack pack"
    "currency supplies"
    "reagents materials"
    "innerwear outerwear"
    "tableHead tableHead"
    "inventoryTable inventoryTable";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 2.5fr 1fr 12fr;
    /*Border*/
    border-image: var(--border-default);
    border-image-slice: 25% 25%;
    border-image-width: 50px 50px;
    border-radius: var(--radius);
    /*Boundaries*/
    padding: 8px;
    /*Color and Text Styles*/
    background-color: var(--card);
    /*Interactive*/
}

.inventory div.startPack {
    grid-area: pack;
    display: grid;
    font-size: var(--font-lg);
}

.startPack div.startChoice {
    grid-area: choice;
}

select {
    background-color: var(--ring);
    text-align: center;
}


.inventory div.currency {
    /*Layout*/
    grid-area: currency;
    display: grid;
    grid-template-areas: "head head head head head"
    "total denom1 denom2 denom3 denom4";
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 3fr 2fr;
    /*Border*/
    border: 1px solid black;
    /*Color and Text Styles*/
    font-size: var(--font-xsm);
}

.currency div.currencyHead {
    font-size: var(--font-md);
    grid-area: head;
    border: 1px solid black;
}

.currency div.currencyTotal {
    grid-area: total;
    border: 1px solid black;
}

.currency div.currencyDenom1 {
    grid-area: denom1;
    border: 1px solid black;
}

.currency div.currencyDenom2 {
    grid-area: denom2;
    border: 1px solid black;
}

.currency div.currencyDenom3 {
    grid-area: denom3;
    border: 1px solid black;
}

.currency div.currencyDenom4 {
    grid-area: denom4;
    border: 1px solid black;
}

.inventory div.supplies {
    /*Layout*/
     grid-area: supplies;
     display: grid;
    grid-template-areas: "head head head"
    "food water salves";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 3fr 2fr;
    /*Border*/
    border: 1px solid black;
    /*Color and Text Styles*/
    font-size: var(--font-xsm);
}

.supplies div.suppliesHead {
    grid-area: head;
    font-size: var(--font-md);
    border: 1px solid black;
}

.supplies div.suppliesFood {
    grid-area: food;
    border: 1px solid black;
}

.supplies div.suppliesWater {
    grid-area: water;
    border: 1px solid black;
}

.supplies div.suppliesSalves {
    grid-area: salves;
    border: 1px solid black;
}

.inventory div.reagents {
    /*Layout*/
    grid-area: reagents;
    display: grid;
    grid-template-areas: "head head head head"
    "ordinary uncommon rare legendary";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 3fr 2fr;
    /*Border*/
    border: 1px solid black;
    /*Color and Text Styles*/
    font-size: var(--font-xsm);
}

.reagents div.reagentsHead {
    font-size: var(--font-md);
    grid-area: head;
    border: 1px solid black;
}

.reagents div.reagentsOrdinary {
    grid-area: ordinary;
    border: 1px solid black;
}

.reagents div.reagentsUncommon {
    grid-area: uncommon;
    border: 1px solid black;
}

.reagents div.reagentsRare {
    grid-area: rare;
    border: 1px solid black;
}

.reagents div.reagentsLegendary {
    grid-area: legendary;
    border: 1px solid black;
}

.inventory div.materials {
    /*Layout*/
    grid-area: materials;
    display: grid;
    grid-template-areas: "head head head head"
    "ordinary uncommon rare legendary";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 3fr 2fr;
    /*Border*/
    border: 1px solid black;
    /*Color and Text Styles*/
    font-size: var(--font-xsm);
}

.materials div.materialsHead {
    font-size: var(--font-md);
    grid-area: head;
    border: 1px solid black;
}

.materials div.materialsOrdinary {
    grid-area: ordinary;
    border: 1px solid black;
}

.materials div.materialsUncommon {
    grid-area: uncommon;
    border: 1px solid black;
}

.materials div.materialsRare {
    grid-area: rare;
    border: 1px solid black;
}

.materials div.materialsLegendary {
    grid-area: legendary;
    border: 1px solid black;
}

.inventory div.innerwear {
    grid-area: innerwear;
    font-size: 28px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.innerwear div.innerHead {
    flex: 1;
    border: 1px solid black;
}

.innerwear div.innerChoice {
    flex: 1;
    font-size: 36px;
    border: 1px solid black;
}

.innerwear div.innerDesc {
    font-size: 20px;
    flex: 4;
    border: 1px solid black;
}

.inventory div.outerwear {
    grid-area: outerwear;
    font-size: 28px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.outerwear div.outerHead {
    flex: 1;
    border: 1px solid black;
}

.outerwear div.outerChoice {
    flex: 1;
    font-size: 36px;
    border: 1px solid black;
}

.outerwear div.outerDesc {
    font-size: 20px;
    flex: 4;
    border: 1px solid black;
}

.inventory div.tableHead {
    grid-area: tableHead;
    display: grid;
    grid-template-columns: 5fr 1.5fr 3fr 1.5fr 3fr;
    font-size: var(--font-sm);
    padding-right: 12px;
}

.inventory div.inventoryTable {
    height: 100%;
    grid-area: inventoryTable;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-right: 12px;
}

.tableRow {
    min-height: min-content;
    border-image: var(--border-select);
    border-image-slice: 25% 25%;
    border-image-width: 50px 50px;
    border-radius: var(--radius);
    display: grid;
    grid-template-columns: 1fr;
    font-size: var(--font-xsm);
    /*Border*/
}

.tableSummary {
    display: grid;
    grid-template-columns: 5fr 1.5fr 3fr 1.5fr 3fr;
    cursor: pointer;
    
}

 .tableCellName {
    font-size: var(--font-sm);
    border: 1px solid var(--primary);
    text-align: left;
    padding-left: 12px;
}

.tableCellDesc {
    text-align: left;
    padding: 8px;
    padding-left: 12px;
}

.tableCellContent {
    border: 1px solid var(--primary);
    flex: 3;
}


.equipment div.proficiencies {
    grid-area: proficiencies;
    font-size: 28px;
    display: grid;
    text-align: left;
    grid-template-areas: "prof1"
    "prof2"
    "prof3";
    grid-template-rows: 1fr 1fr 1fr;
    background-color: var(--card);
    border-radius: var(--radius);
}

.proficiencies div.prof1 {
    /*Size*/
    /*Layout*/
    /*Border*/
    /*Boundaries*/
    /*Color and Text Styles*/
    /*Interactive*/
    grid-area: prof1;
    font-size: var(--font-xsm);
    border-image: var(--border-default);
    border-image-slice: 25% 25%;
    border-image-width: 50px 50px;
    border-radius: var(--radius);
    display: grid;
    grid-template-areas: "head head head head"
    "type type type weapon"
    "attackName attackCost attackRange attackEffect"
    "propertyName propertyEffect propertyEffect propertyEffect"
    "propertyCost propertyEffect propertyEffect propertyEffect"
    "special special special special";
    grid-template-columns: 3fr 3fr 1fr 5fr;
    grid-template-rows:  3fr 2.5fr 2fr 2fr 2fr 2fr;
    padding: 8px;
}

.proficiencies div.prof2 {
        /*Size*/
    /*Layout*/
    /*Border*/
    /*Boundaries*/
    /*Color and Text Styles*/
    /*Interactive*/
    grid-area: prof2;
    font-size: var(--font-xsm);
    border-image: var(--border-default);
    border-image-slice: 25% 25%;
    border-image-width: 50px 50px;
    border-radius: var(--radius);
    display: grid;
    grid-template-areas: "head head head head"
    "type type type weapon"
    "attackName attackCost attackRange attackEffect"
    "propertyName propertyEffect propertyEffect propertyEffect"
    "propertyCost propertyEffect propertyEffect propertyEffect"
    "special special special special";
    grid-template-columns: 3fr 3fr 1fr 5fr;
    grid-template-rows:  3fr 2.5fr 2fr 2fr 2fr 2fr;
    padding: 8px;
}

.proficiencies div.prof3 {
        /*Size*/
    /*Layout*/
    /*Border*/
    /*Boundaries*/
    /*Color and Text Styles*/
    /*Interactive*/
    grid-area: prof3;
    font-size: var(--font-xsm);
    border-image: var(--border-default);
    border-image-slice: 25% 25%;
    border-image-width: 50px 50px;
    border-radius: var(--radius);
    display: grid;
    grid-template-areas: "head head head head"
    "type type type weapon"
    "attackName attackCost attackRange attackEffect"
    "propertyName propertyEffect propertyEffect propertyEffect"
    "propertyCost propertyEffect propertyEffect propertyEffect"
    "special special special special";
    grid-template-columns: 3fr 3fr 1fr 5fr;
    grid-template-rows: 3fr 2.5fr 2fr 2fr 2fr 2fr;
    padding: 8px;
}

.weaponHead {
        /*Size*/
    /*Layout*/
    /*Border*/
    /*Boundaries*/
    /*Color and Text Styles*/
    /*Interactive*/
    grid-area: head;
    font-size: var(--font-md);
    text-align: center;
    border: 1px solid black;
}

.weaponType {
    grid-area: type;
    border: 1px solid black;
    font-size: var(--font-sm);
}

.weaponSelect {
    grid-area: weapon;
    border: 1px solid black;
    font-size: var(--font-sm);
}

.weaponAttackName {
    grid-area: attackName;
    text-align: center;
    border: 1px solid black;
}

.weaponAttackCost {
    grid-area: attackCost;
    text-align: center;
    border: 1px solid black;
}

.weaponAttackRange {
    grid-area: attackRange;
    text-align: center;
    border: 1px solid black;
}

.weaponAttackEffect {
    grid-area: attackEffect;
    border: 1px solid black;
}

.weaponPropertyName {
    grid-area: propertyName;
    text-align: center;
    border: 1px solid black;
}

.weaponPropertyCost {
    grid-area: propertyCost;
    text-align: center;
    border: 1px solid black;
}

.weaponPropertyEffect {
    grid-area: propertyEffect;
    border: 1px solid black;
}

.weaponSpecial {
    grid-area: special;
    border: 1px solid black;
}

.equipment div.search {
    grid-area: search;
    border: 1px solid black;
}