.spells {
    /*Size*/
    height: calc(100vh - 180px);
    width: calc(100vw - 160px);
    /*Layout*/
    display: grid;
    grid-template-areas: "info1 info2 gap availableHeader"
    "info1 info2 gap filter"
    "info1 info2 gap availableTable"
    "currentHeader currentHeader gap availableTable"
    "currentTable currentTable gap availableTable";
    grid-template-columns: 3fr 3fr 8px 6fr;
    grid-template-rows: 1fr 1.5fr 0.75fr 1fr 12fr;
    text-align: center;
    /*Border*/
    border-image: var(--border-default);
    border-image-slice: 25% 25%;
    border-image-width: 50px 50px;
    border-radius: var(--radius);
    /*Color and Text Styles*/
    font-size: var(--font-md);
}

.gap {
    /*Layout*/
    grid-area: gap;
}

.currentHeader {
    /*Layout*/
    grid-area: currentHeader;
    margin-top: -8px;
    /*Border*/
    border-image: var(--border-square);
    border-image-slice: 25% 25%;
    border-image-width: 50px 50px;
    /*Color and Text Styles*/
    font-size: var(--font-lg);
    background-color: var(--card);
}

.availableHeader {
    /*Layout*/
    grid-area: availableHeader;
    /*Border*/
    border-image: var(--border-square);
    border-image-slice: 25% 25%;
    border-image-width: 50px 50px;
    /*Color and Text Styles*/
    font-size: var(--font-lg);
    background-color: var(--card);
}

.spells div.info1 {
    /*Layout*/
    grid-area: info1;
    text-align: left;
    margin-right: -2px;
    /*Border*/
    border-image: var(--border-default);
    border-image-slice: 25% 25%;
    border-image-width: 50px 50px;
    border-radius: var(--radius);
    /*Boundaries*/
    padding: 8px;
    /*Color and Text Styles*/
    background-color: var(--card);
}

.spells div.info2 {
    /*Layout*/
    grid-area: info2;
    text-align: left;
    margin-left: -2px;
    /*Border*/
    border-image: var(--border-default);
    border-image-slice: 25% 25%;
    border-image-width: 50px 50px;
    border-radius: var(--radius);
    /*Boundaries*/
    padding: 8px;
    /*Color and Text Styles*/
    background-color: var(--card);
}

.spells div.filter {
    /*Layout*/
    grid-area: filter;
    display: flex;
    flex-wrap: wrap;
    /*Border*/
    border-image: var(--border-square);
    border-image-slice: 25% 25%;
    border-image-width: 50px 50px;
    /*Boundaries*/
    padding: 8px;
    /*Color and Text Styles*/
    background-color: var(--card);
}

.available div.filters {
    /*Layout*/
    display: flex;
    /*Border*/
    border-image: var(--border-square);
    border-image-slice: 25% 25%;
    border-image-width: 50px 50px;
}

.available div.invalidCell {
    /*Color and Text Styles*/
    background-color: var(--background);
}

.currentTable {
    /*Layout*/
    grid-area: currentTable;
    display: flex;
    flex-direction: column;
    /*Border*/
    border-radius: var(--radius);
    /*Color and Text Styles*/
    background-color: var(--card);
    /*Interactive*/
    overflow-y: auto;
}

.availableTable {
    /*Layout*/
    grid-area: availableTable;
    display: flex;
    flex-direction: column;
    /*Border*/
    border-radius: var(--radius);

    padding-right: 8px;
    /*Color and Text Styles*/
    background-color: var(--card);
    /*Interactive*/
    overflow-y: auto;
}

.spellRow {
    /*Layout*/
    display: flex;
}

.disabledCell {
    /*Size*/
    height: 100%;
    width: 100%;
    /*Border*/
    border-image: var(--border-select-locked);
    border-image-slice: 25% 25%;
    border-image-width: 50px 50px;
    border-radius: var(--radius);
    /*Boundaries*/
    padding: 4px;
    padding-left: 4px;
    /*Color and Text Styles*/
    background-color: var(--background);
}

.disabledCell:hover {
    /*Interactive*/
    cursor: pointer;
    text-decoration: underline;
}

.spellCell {
    /*Size*/
    height: 100%;
    width: 100%;
    z-index: 2;
    /*Border*/
    border-image: var(--border-select);
    border-image-slice: 25% 25%;
    border-image-width: 50px 50px;
    border-radius: var(--radius);
    /*Boundaries*/
    padding: 4px;
    padding-left: 4px;
    /*Color and Text Styles*/
    background-color: var(--card);
}


.spellCell:hover {
    /*Color and Text Styles*/
    background-color: var(--accent);
    /*Interactive*/
    cursor: pointer;
    text-decoration: underline;
}

summary {
    /*Size*/
    width: 100%;
    /*Layout*/
    display: grid;
    grid-template-columns: 5fr 2fr 3fr 2fr 3fr 3fr;
}

 details > summary::-webkit-details-marker {
   display: none;
 }

.cellContentName {
    /*Size*/
    font-size: var(--font-lg);
}

.cellContentShort {
    /*Size*/
    flex-shrink: 1;
}

.cellContentMedium {
    /*Size*/
    flex-shrink: 1;
}

.cellContentLong {
    /*Size*/
    flex-shrink: 1;
}

.cellDescription {
    /*Layout*/
    text-align: left;
    /*Boundaries*/
    padding: 8px;
    padding-left: 12px;
    /*Color and Text Styles*/
    font-size: var(--font-xsm);
}

.cellAdd {
    /*Size*/
    width: var(--font-md);
    /*Layout*/
    text-align: left;
    /*Border*/
    border-radius: var(--radius) 0px 0px var(--radius);
    /*Boundaries*/
    padding-left: 4px;
    margin-right: -8px;
    /*Color and Text Styles*/
    background-color: var(--background);
}

.cellAdd:hover {
    /*Color and Text Styles*/
    background-color: var(--accent);
    /*Interactive*/
    cursor: pointer;
}

.cellInvalidAdd {
    /*Size*/
    width: var(--font-lg);
    /*Layout*/
    text-align: left;
    /*Border*/
    border-radius: var(--radius) 0px 0px var(--radius);
    /*Boundaries*/
    padding-left: 4px;
    margin-top: 8px;
    margin-bottom: 8px;
    /*Color and Text Styles*/
    background-color: var(--background);
}

.cellRemove {
    /*Size*/
    width: var(--font-lg);
    /*Layout*/
    z-index: 1;
    text-align: right;
    /*Border*/
    border-radius: 0px var(--radius) var(--radius) 0px;
    /*Boundaries*/
    padding-right: 8px;
    margin-left: -20px;
    /*Color and Text Styles*/
    background-color: var(--background);
}

.cellRemove:hover {
    /*Color and Text Styles*/
    background-color: var(--accent);
    /*Interactive*/
    cursor: pointer;
}

.spells div.free {
    grid-area: free;
    /*Color and Text Styles*/
    background-color: var(--card);
}

.showAll {
    /*Size*/
    /*Layout*/
    /*Border*/
    /*Boundaries*/
    /*Color and Text Styles*/
    /*Interactive*/
    font-size: 28px;
    text-align: center;
    background-color: #aaaaaa;
    width: var(--font-xl);
    border-radius: 10px;
    height: 35px;
    line-height: 35px;
}

.showAll:hover {
    background-color: #d8d8d8;
    cursor: pointer;
}