.talents {
    /*Size*/
    height: calc(100vh - 180px);
    width: calc(100vw - 160px);
    /*Layout*/
    display: flex;
    flex-direction: column;
    /*Border*/
    border-image: var(--border-default);
    border-image-slice: 25% 25%;
    border-image-width: 50px 50px;
    border-radius: var(--radius);
    /*Color and Text Styles*/
    color: var(--primary);
    background-color: var(--background);
}

.talents div.header {
    /*Size*/
    height: var(--font-xl);
    /*Layout*/
    text-align: center;
    /*Color and Text Styles*/
    font-size: var(--font-lg);
}

.header:hover {
    /*Color and Text Styles*/
    background-color: var(--muted-foreground);
    /*Interactive*/
    cursor: pointer;
}

.talents div.talentChoices {
    /*Size*/
    height: calc(100vh - 245px);
    width: calc(100vw - 160px);
    /*Layout*/
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(3, minmax(0, 1fr));
    position: relative;
    /*Boundaries*/
    gap: 5px;
}

.talentChoices div.covDamageSelect {
    /*Size*/
    width: calc((100vw - 160px)/16);
    height: var(--font-sm);
    /*Layout*/
    z-index: 10;
    top: -8px;
    left: calc(3*(100vw - 160px)/20 - 18px);
    position: absolute;
}

.covSelect {
    /*Size*/
    width: calc((100vw - 160px)/16);
    height: var(--font-sm);
    /*Color and Text Styles*/
    font-size: var(--font-xsm);
    background-color: var(--ring);
}

.covSelect:hover {
    /*Color and Text Styles*/
    background-color: var(--accent);
    /*Interactive*/
    cursor: pointer;
}

.elemSelect {
    /*Size*/
    width: calc((100vw - 160px)/16);
    height: var(--font-sm);
    /*Color and Text Styles*/
    font-size: var(--font-xsm);
    background-color: var(--ring);
}

.elemSelect:hover {
    /*Color and Text Styles*/
    background-color: var(--accent);
    /*Interactive*/
    cursor: pointer;
}

.elemInput {
    /*Size*/
    width: calc((100vw - 160px)/16);
    height: var(--font-sm);
    /*Layout*/
    text-align: center;
    /*Color and Text Styles*/
    font-size: var(--font-xsm);
    background-color: var(--ring);
}

.elemInput:hover {
    /*Color and Text Styles*/
    background-color: var(--accent);
}

.talentChoices div.elemDamageSelect {
    /*Size*/
    width: calc((100vw - 160px)/16);
    height: var(--font-sm);
    /*Layout*/
    z-index: 10;
    top: calc(var(--font-sm));
    left: calc(2*(100vw - 160px)/5 - 18px);
    position: absolute;
}

.talentChoices div.elemTypeText {
    /*Size*/
    width: calc((100vw - 160px)/16);
    height: var(--font-sm);
    /*Layout*/
    z-index: 10;
    top: -8px;
    left: calc(2*(100vw - 160px)/5 - 18px);
    position: absolute;
}

.talentCard {
    /*Layout*/
    display: grid;
    /*Border*/
    border-image: var(--border-select);
    border-image-slice: 25% 25%;
    border-image-width: 50px 50px;
    border-radius: var(--radius);
    /*Boundaries*/
    padding: 15px;
    padding-top: 8px;
    /*Color and Text Styles*/
    background-color: var(--card);
}

.talentCard:hover {
    /*Border*/
    border-image: var(--border-select-glow);
    border-image-slice: 25% 25%;
    border-image-width: 50px 50px;
    border-radius: var(--radius);
    /*Interactive*/
    cursor: pointer;
    /*Color and Text Styles*/
    background-color: var(--accent);
}

.disabledTalentCard {
    /*Layout*/
    display: grid;
    /*Border*/
    border-image: var(--border-select-locked);
    border-image-slice: 25% 25%;
    border-image-width: 50px 50px;
    /*Boundaries*/
    padding: 15px;
    padding-top: 8px;
    /*Color and Text Styles*/
    background-color: var(--background);
}

.cardGrid {
    /*Size*/
    height: calc(3*(100vh - 330px)/10 - 6px);
    /*Layout*/
    display: grid;
    grid-template-areas: "name name icon"
    "type none icon"
    "type splash splash"
    "role splash splash"
    "compl splash splash";
    grid-template-columns: 3fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr 2fr 2fr;
}

.cardBack {
    /*Layout*/
    display: grid;
    /*Border*/
    border-image: var(--border-select-glow);
    border-image-slice: 25% 25%;
    border-image-width: 50px 50px;
    border-radius: var(--radius);
    /*Boundaries*/
    padding: 15px;
    padding-top: 8px;
    /*Color and Text Styles*/
    background-color: var(--chart-1);
}

.cardBack:hover {
    /*Interactive*/
    cursor: pointer;
    /*Color and Text Styles*/
    background-color: var(--accent);
}

.cardBack div.cardBackGrid {
    /*Size*/
    height: calc(3*(100vh - 330px)/10 - 6px);
    /*Layout*/
    display: grid;
    grid-template-areas: "backName backIcon"
    "backDesc backDesc";
    grid-template-columns: 9fr 1fr;
    grid-template-rows: var(--font-xl) 3fr;
}

.cardBackName {
    /*Layout*/
    grid-area: backName;
    text-align: left;
    /*Boundaries*/
    padding-left: 10px;
    /*Color and Text Styles*/
    font-size: var(--font-lg);
}

.cardBackIcon {
    /*Layout*/
    grid-area: backIcon;
    background-image: linear-gradient(rgb(179, 179, 255), rgb(85, 85, 85));
}

.cardBackDesc {
    /*Layout*/
    grid-area: backDesc;
    text-align: left;
    /*Boundaries*/
    padding-left: 10px;
    padding-left: 10px;
    /*Color and Text Styles*/
    font-size: var(--font-xsm);
    /*Interactive*/
    overflow-y: auto;
}


.cardGrid div.talentName {
    /*Layout*/
    grid-area: name;
    text-align: left;
    /*Boundaries*/
    padding-left: 10px;
    margin-bottom: -8px;
    /*Color and Text Styles*/
    font-size: var(--font-lg);
}

.cardGrid div.talentIcon {
    /*Layout*/
    grid-area: icon;
    /*Interactive*/
    background-image: linear-gradient(rgb(179, 179, 255), rgb(85, 85, 85));
}

.cardGrid div.talentType {
    /*Layout*/
    grid-area: type;
    text-align: left;
    /*Color and Text Styles*/
    font-size: var(--font-sm);
}

.cardGrid div.talentRole {
    /*Layout*/
    grid-area: role;
    text-align: left;
    line-height: 1;
    /*Color and Text Styles*/
    font-size: var(--font-sm);
}

.cardGrid div.talentCompl {
    /*Layout*/
    grid-area: compl;
    text-align: left;
    /*Color and Text Styles*/
    font-size: var(--font-sm);
}

.cardGrid div.talentSplash {
    /*Layout*/
    grid-area: splash;
    /*Interactive*/
    background-image: linear-gradient(rgb(179, 179, 255), rgb(85, 85, 85));
}

.view {
    /*Layout*/
    text-align: center;
    /*Color and Text Styles*/
    background-color: #333333;
}

.view:hover {
    /*Color and Text Styles*/
    background-color: #1d1d1d;
    /*Interactive*/
    cursor: pointer;
}

.talents div.selected {
    /*Size*/
    height: calc(100vh - 245px);
    /*Layout*/
    display: grid;
    grid-template-areas: "viewTalent1 viewTalent2";
    grid-template-columns: repeat(2, minmax(0, 1fr));
    text-align: center;
    /*Color and Text Styles*/
    background-color: var(--card);
}

.selected div.viewTalent1 {
    /*Layout*/
    grid-area: viewTalent1;
    display: grid;
    grid-template-areas: "selectedName selectedName"
    "selectedType selectedRoles"
    "selectedSkills selectedComplexity"
    "selectedFlavor selectedFlavor"
    "selectedBonus selectedBonus"
    "selectedAbility selectedAbility"
    "selectedAtts selectedAtts"
    "selectedAttributes selectedAttributes";
    grid-template-rows: 3fr 1fr 1fr 8fr 3fr 5fr 2fr 6fr;
    grid-template-columns: 1fr 1fr;
    /*Border*/
    border-image: var(--border-square);
    border-image-slice: 25% 25%;
    border-image-width: 50px 50px;
    /*Boundaries*/
    padding: 8px;
    /*Interactive*/
    overflow-y: auto;
}

.selected div.viewTalent2 {
    /*Layout*/
    grid-area: viewTalent2;
    display: grid;
    grid-template-areas: "selectedName selectedName"
    "selectedType selectedRoles"
    "selectedSkills selectedComplexity"
    "selectedFlavor selectedFlavor"
    "selectedBonus selectedBonus"
    "selectedAbility selectedAbility"
    "selectedAtts selectedAtts"
    "selectedAttributes selectedAttributes";
    grid-template-rows: 3fr 1fr 1fr 8fr 3fr 5fr 2fr 6fr;
    grid-template-columns: 1fr 1fr;
    /*Border*/
    border-image: var(--border-square);
    border-image-slice: 25% 25%;
    border-image-width: 50px 50px;
    /*Boundaries*/
    padding: 8px;
    /*Interactive*/
    overflow-y: auto;
}

.selectedName {
    /*Layout*/
    grid-area: selectedName;
    font-size: var(--font-xl);
    /*Border*/
    border-image: var(--border-default);
    border-image-slice: 25% 25%;
    border-image-width: 50px 50px;
    border-radius: var(--radius);
}

.selectedType {
    /*Layout*/
    grid-area: selectedType;
}

.selectedRoles {
    /*Layout*/
    grid-area: selectedRoles;
}

.selectedFlavor {
    /*Layout*/
    grid-area: selectedFlavor;
    text-align: left;
    /*Border*/
    border-image: var(--border-default);
    border-image-slice: 25% 25%;
    border-image-width: 50px 50px;
    border-radius: var(--radius);
    /*Boundaries*/
    padding: 8px;
    /*Color and Text Styles*/
    font-size: var(--font-sm);
}

.selectedComplexity {
    /*Layout*/
    grid-area: selectedComplexity;
    font-size: 28px;
}

.selectedSkills {
    /*Layout*/
    grid-area: selectedSkills;
}

.selectedBonus {
    /*Layout*/
    grid-area: selectedBonus;
    /*Color and Text Styles*/
    line-height: 1.2;
}

.selectedAbility {
    /*Layout*/
    grid-area: selectedAbility;
    text-align: left;
    /*Color and Text Styles*/
    font-size: var(--font-sm);
}

.selectedAtts {
    /*Layout*/
    grid-area: selectedAtts;
}

.selectedAttributes {
    /*Layout*/
    grid-area: selectedAttributes;
    display: grid;
    grid-template-areas:"att1 att2"
    "arr3 att4";
    grid-template-columns: 1fr 1fr;
    /*Color and Text Styles*/
    line-height: 1.2;
    font-size: var(--font-sm);
}

.selectedAttributes att1 {
    /*Layout*/
    grid-area: att1;
}

.selectedAttributes att2 {
    /*Layout*/
    grid-area: att2;
}

.selectedAttributes att3 {
    /*Layout*/
    grid-area: att3;
}

.selectedAttributes att4 {
    /*Layout*/
    grid-area: att4;
}

