.attributes {
    /*Size*/
    height: calc(100vh - 180px);
    width: calc(100vw - 160px);
    /*Layout*/
    display: grid;
    grid-template-areas: "talent1name talent1name level level talent2name talent2name"
    "talent1attributes info info info info talent2attributes"
    "talent1attributes talent1stones talent1stones talent2stones talent2stones talent2attributes";
    grid-template-rows: 1fr 2fr 4fr;
    grid-template-columns: 6fr 5fr 1fr 1fr 5fr 6fr;
    text-align: center;
    /*Border*/
    border-image: var(--border-default);
    border-image-slice: 25% 25%;
    border-image-width: 50px 50px;
    border-radius: var(--radius);
    /*Color and Text Styles*/
    background-color: var(--background);
}

.attributes div.level {
    /*Layout*/
    grid-area: level;
}

.level div.levelSelect {
    /*Layout*/
    display: grid;
    /*Border*/
    border-radius: 15px;
    /*Color and Text Styles*/
    font-size: var(--font-lg);
    
}
.level select {
    /*Size*/
    height: calc(12vh);
    /*Layout*/
    margin-top: calc(-1*var(--font-lg) - 16px);
    /*Border*/
    border-image: var(--border-select);
    border-image-slice: 25% 25%;
    border-image-width: 50px 50px;
    border-radius: 15px;
    /*Color and Text Styles*/
    background-color: var(--card);
    padding-left: 12px;
    padding-top: 32px;
}

.level select:hover {
    /*Border*/
    border-image: var(--border-select-glow);
    border-image-slice: 25% 25%;
    border-image-width: 50px 50px;
    border-radius: 15px;
    /*Color and Text Styles*/
    background-color: var(--accent);
    /*Interactive*/
    cursor: pointer;
}

.level option {
    /*Color and Text Styles*/
    background-color: var(--card);
    font-size: var(--font-md);
}

.attributes div.talent1name {
    /*Layout*/
    grid-area: talent1name;
    /*Border*/
    border-image: var(--border-default);
    border-image-slice: 25% 25%;
    border-image-width: 50px 50px;
    border-radius: var(--radius);
    /*Color and Text Styles*/
    background-color: var(--card);
    font-size: var(--font-xl);
}

.attributes div.talent2name {
    /*Layout*/
    grid-area: talent2name;
    /*Border*/
    border-image: var(--border-default);
    border-image-slice: 25% 25%;
    border-image-width: 50px 50px;
    border-radius: var(--radius);
    /*Color and Text Styles*/
    background-color: var(--card);
    font-size: var(--font-xl);
}

.attributes div.info {
    grid-area: info;
    text-align: left;
    padding: 12px;
}

.attributes div.talent1attributes {
    /*Size*/
    max-height: 100%;
    /*Layout*/
    grid-area: talent1attributes;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
}

.attributes div.talent2attributes {
    /*Size*/
    max-height: 100%;
    /*Layout*/
    grid-area: talent2attributes;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
}

.attributes div.talent1stones {
    /*Layout*/
    grid-area: talent1stones;
    display: grid;
}

.attributes div.talent2stones {
    /*Layout*/
    grid-area: talent2stones;
    display: grid;
}

.keystone {
    /*Border*/
    border-image: var(--border-default);
    border-image-slice: 25% 25%;
    border-image-width: 50px 50px;
    border-radius: var(--radius);
    /*Boundaries*/
    padding: 15px;
    /*Color and Text Styles*/
    background-color: var(--background);
    font-size: var(--font-sm);
}

.capstone {
    /*Border*/
    border-image: var(--border-default);
    border-image-slice: 25% 25%;
    border-image-width: 50px 50px;
    border-radius: var(--radius);
    /*Boundaries*/
    padding: 15px;
    /*Color and Text Styles*/
    background-color: var(--background);
    font-size: var(--font-sm);
}

.keystoneActive {
    /*Border*/
    border-image: var(--border-default-glow);
    border-image-slice: 25% 25%;
    border-image-width: 50px 50px;
    border-radius: var(--radius);
    /*Boundaries*/
    padding: 15px;
    /*Color and Text Styles*/
    background-color: var(--accent);
    font-size: var(--font-sm);
}

.capstoneActive {
    /*Border*/
    border-image: var(--border-default-glow);
    border-image-slice: 25% 25%;
    border-image-width: 50px 50px;
    border-radius: var(--radius);
    font-size: var(--font-sm);
    /*Boundaries*/
    padding: 15px;
    /*Color and Text Styles*/
    background-color: var(--accent);
}

.stoneName {
    /*Color and Text Styles*/
    font-size: var(--font-md);
}

.attributeContainer {
    /*Layout*/
    display: flex;
    flex-direction: column;
    /*Color and Text Styles*/
    font-size: var(--font-xsm);
    /*Interactive*/
    overflow-y: hidden;
}

.attributeContainer div.attributeName {
    /*Color and Text Styles*/
    font-size: var(--font-md);
}

.attributeContainer div.attributeNotSelected {
    /*Layout*/
    flex-grow: 1;
    /*Border*/
    border-image: var(--border-select);
    border-image-slice: 25% 25%;
    border-image-width: 50px 50px;
    border-radius: var(--radius);
    /*Boundaries*/
    padding: 15px;
    /*Color and Text Styles*/
    background-color: var(--card);
}

.attributeContainer div.attributeNotSelected:hover {
    /*Border*/
    border-image: var(--border-select-glow);
    border-image-slice: 25% 25%;
    border-image-width: 50px 50px;
    /*Color and Text Styles*/
    background-color: var(--accent);
    /*Interactive*/
    cursor: pointer;
}

.attributeContainer div.attributeDisallowed {
    /*Layout*/
    flex-grow: 1;
    /*Border*/
    border-image: var(--border-select-locked);
    border-image-slice: 25% 25%;
    border-image-width: 50px 50px;
    border-radius: var(--radius);
    /*Boundaries*/
    padding: 15px;
    /*Color and Text Styles*/
    background-color: var(--background);
}

.attributeContainer div.attributeSelected {
    /*Layout*/
    flex-grow: 1;
    /*Border*/
    border-image: var(--border-select-glow);
    border-image-slice: 25% 25%;
    border-image-width: 50px 50px;
    border-radius: var(--radius);
    /*Boundaries*/
    padding: 15px;
    /*Color and Text Styles*/
    background-color: var(--chart-1);
}

.attributeContainer div.attributeSelected:hover {
    /*Color and Text Styles*/
    background-color: var(--muted-foreground);
    /*Interactive*/
    cursor: pointer;
}