.background {
    /*Size*/
    height: calc(100vh - 180px);
    width: calc(100vw - 160px);
    /*Layout*/
    display: grid;
    grid-template-areas: "name ancestry faction";
    grid-template-columns: repeat(3, minmax(0, 1fr));
    /*Boundaries*/
    gap: 10px;
    /*Color and Text Styles*/
    text-align: center;
    font-size: var(--font-md);
}

.background div.name {
    /*Size*/
    height: calc(100vh - 180px);
    /*Layout*/
    grid-area: name;
    display: flex;
    flex-direction: column;
    /*Border*/
    border-image: var(--border-default);
    border-image-slice: 25% 25%;
    border-image-width: 50px 50px;
    border-radius: var(--radius);
    /*Color and Text Styles*/
    background-color: var(--card);
}

.name div.nameBox {
    /*Border*/
    border-image: var(--border-select);
    border-image-slice: 25% 25%;
    border-image-width: 50px 50px;
    /*Color and Text Styles*/
    background-color: var(--muted);
}

.name input {
    /*Layout*/
    text-align: center;
    /*Boundaries*/
    margin: 10px;
    /*Color and Text Styles*/
    font-size: var(--font-xl);
    color: var(--primary);
}

.name div.worlds {
    /*Size*/
    width: calc(33vw - 80px);
    /*Layout*/
    align-self: center;
    /*Boundaries*/
    margin: 10px;
}

.chip {
    /*Size*/
    height: var(--font-xl);
    /*Color and Text Styles*/
    font-size: var(--font-md);
}

.worldOption {
    /*Color and Text Styles*/
    font-size: var(--font-md);
}

.name div.image {
    /*Layout*/
    flex: 1;
    /*Boundaries*/
    margin: 10px;
    /*Color and Text Styles*/
    border-radius: var(--radius);
    /*Interactive*/
    background-image: linear-gradient(rgb(179, 179, 255), rgb(85, 85, 85));
}

.background div.ancestry {
    /*Size*/
    height: calc(100vh - 180px);
    /*Layout*/
    grid-area: ancestry;
    /*Border*/
    border-image: var(--border-default);
    border-image-slice: 25% 25%;
    border-image-width: 50px 50px;
    border-radius: var(--radius);
    /*Color and Text Styles*/
    background-color: var(--card);
}

.scrollContainer {
    /*Size*/
    height: calc(100vh - 180px);
    /*Layout*/
    display: flex;
    flex-direction: column;
}

.scrollTitle {
    /*Color and Text Styles*/
    font-size: var(--font-lg);
}

.scrollList {
    /*Layout*/
    grid-area: scroll;
    /*Boundaries*/
    margin-right: 10px;
    margin-bottom: 10px;
    padding-right: 10px;
    /*Interactive*/
    overflow-y: auto;
    scrollbar-color: var(--primary) var(--card);
}

.scrollList div.cell {
    /*Size*/
    height: 150px;
    /*Layout*/
    display: grid;
    grid-template-areas: "name world image"
    "description description image";
    grid-template-rows: 50px auto;
    grid-template-columns: 3fr 2fr 2fr;
    /*Border*/
    border-image: var(--border-select);
    border-image-slice: 25% 25%;
    border-image-width: 50px 50px;
    /*Boundaries*/
    padding: 10px;
    padding-left: 15px;
}

.scrollList div.cell:hover {
    /*Border*/
    border-image: var(--border-select-glow);
    border-image-slice: 25% 25%;
    border-image-width: 50px 50px;
    border-radius: var(--radius);
    /*Color and Text Styles*/
    background-color: var(--accent);
    /*Interactive*/
    cursor: pointer;
}

.cell div.cellName {
    /*Layout*/
    grid-area: name;
    text-align: left;
}

.cell div.cellDescription {
    /*Layout*/
    grid-area: description;
    text-align: left;
    /*Color and Text Styles*/
    font-size: var(--font-sm);
    /*Interactive*/
    overflow-y: hidden;
}

.cell div.cellWorld {
    /*Layout*/
    grid-area: world;
    display: block;
    align-items: center;
    text-align: center;
    /*Color and Text Styles*/
    font-size: var(--font-sm);
}

.cell div.cellImage {
    /*Layout*/
    grid-area: image;
    /*Interactive*/
    background-image: linear-gradient(rgb(179, 179, 255), rgb(85, 85, 85));
}

.variants select {
    /*Size*/
    width: calc((100vw - 160px)/3 - 24px);
    /*Color and Text Styles*/
    background-color: var(--ring);
    font-size: var(--font-lg);
}

.variants select:hover {
    /*Color and Text Styles*/
    background-color: var(--accent);
    /*Interactive*/
    cursor: pointer;
}

.variants select option {
    /*Color and Text Styles*/
    font-size: var(--font-md);
}

.ancestry div.description {
    /*Size*/
    height: calc(100vh - 489px);
    /*Layout*/
    text-align: left;
    /*Boundaries*/
    padding-right: 10px;
    padding-left: 10px;
    /*Color and Text Styles*/
    font-size: var(--font-md);
    /*Interactive*/
    overflow-y: auto;
}

.background div.faction {
    /*Size*/
    height: calc(100vh - 180px);
    /*Layout*/
    grid-area: faction;
    display: flex;
    flex-direction: column;
    /*Border*/
    border-image: var(--border-default);
    border-image-slice: 25% 25%;
    border-image-width: 50px 50px;
    border-radius: 15px;
    /*Color and Text Styles*/
    background-color: var(--card);
}

.faction div.description {
    /*Size*/
    height: calc(100vh - 489px);
    /*Layout*/
    text-align: left;
    /*Boundaries*/
    padding-right: 10px;
    padding-left: 10px;
    /*Color and Text Styles*/
    font-size: var(--font-md);
    /*Interactive*/
    overflow-y: auto;
}

.return {
    /*Layout*/
    text-align: center;
    /*Border*/
    border-image: var(--border-select);
    border-image-slice: 25% 25%;
    border-image-width: 50px 50px;
    /*Color and Text Styles*/
    text-decoration: underline;
    font-size: var(--font-xl);
    /*Interactive*/
    text-wrap: nowrap;
    overflow-x: hidden;
}

.return:hover {
    /*Border*/
    border-image: var(--border-select-glow);
    border-image-slice: 25% 25%;
    border-image-width: 50px 50px;
    border-radius: var(--radius);
    /*Color and Text Styles*/
    background-color: var(--accent);
    /*Interactive*/
    cursor: pointer;
}