body {
    background-color: #333333;
}

.main {
    display: grid;
    grid-template-areas: 
    "headerbar headerbar headerbar headerbar"
    "login create play none"
    "pad pad pad pad"
    "footerbar footerbar footerbar footerbar";
    grid-template-rows: 80px auto auto auto 30px;
    grid-template-columns: repeat(3, minmax(0, 1fr)) 20px;
    gap: 50px;
    background-color: transparent;
    height: 100vh;    
}

.main div.headerBar {
    grid-area: headerbar;
    font-size: 48px;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.headerBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    display: flex;
    gap: 10px;
}

.headerBar ul li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 48px;
    position: relative;
    top: 20px;
}

.headerBar ul li a:hover {
    background-color: #111111;
}

.main div.create {
    grid-area: create;
    background-size: auto 100%;
    display: flex;
    align-items: flex-end;
    font-size: 56px;
    padding-left: 20px;
    padding-bottom: 20px;
    border-radius: 25px;
    border-style: solid;
    border-color: #111111;
    filter: grayscale(100%);
}

.main div.play {
    grid-area: play;
    background-size: auto 100%;
    display: flex;
    align-items: flex-end;
    font-size: 56px;
    padding-left: 20px;
    padding-bottom: 20px;
    border-radius: 25px;
    border-style: solid;
    border-color: #111111;
    filter: grayscale(100%);
}

.main div.login {
    grid-area: login;
    background-size: auto 100%;
    display: flex;
    align-items: flex-end;
    font-size: 56px;
    padding-left: 20px;
    padding-bottom: 20px;
    border-radius: 25px;
    border-style: solid;
    border-color: #111111;
    filter: grayscale(100%);
}

.background {
    display: grid;
    font-size: 36px;
    text-align: center;
    grid-template-areas: "name ancestry faction";
    grid-template-columns: 34vw 29vw 29vw;
    background-color: transparent;
    height: 85vh;
    width: 92vw;
    border: 1px solid white;
}

.background div.name {
    grid-area: name;
    border: 1px solid white;
    height: 85vh;
}

.background div.ancestry {
    grid-area: ancestry;
    border-style: solid;
    border: 1px solid white;
    height: 85vh;
}

.ancestryCell {
    border: 1px solid rgb(37, 37, 37);
    height: 150px;
}

.ancestry div.description {
    font-size: 20px;
    text-align: left;
}

.background div.faction {
    grid-area: faction;
    border: 1px solid white;
    height: 85vh;
}

.faction div.description {
    font-size: 20px;
    text-align: left;
    border: 1px solid white;
}

.talents {
    display: grid;
    grid-template-areas: "talent2"
    "talent1";
    height: 85vh;
    width: 92vw;
}

.talents div.talent1 {
    grid-area: talent1;
    background-color: #aaaaaa;
}

.talents div.talent1 {
    grid-area: talent2;
}

.talents div.talentSelect {
    display: grid;
    grid-template-areas: "buttonCol1 buttonCol2 buttonCol3 buttonCol4";
    grid-template-rows: 21vh 21vh;
    width: 92vw;
}

.talentSelect div.choice {
    border: 1px solid white;
    height: 14vh;
    text-align: center;
}

.talentSelect div.choice:hover {
    background-color: #888787;
}

.talentSelect div.buttonCol1{
    grid-area: buttonCol1;
}

.talentSelect div.buttonCol2{
    grid-area: buttonCol2;
}

.talentSelect div.buttonCol3{
    grid-area: buttonCol3;
}
.talentSelect div.buttonCol4{
    grid-area: buttonCol4;
}

.cardBack {
    color:white;
    background-color: #333333;
}

.talents div.selected {
    display: grid;
    grid-template-areas: "return description stats";
    grid-template-columns: 100px auto 45vw;
    grid-template-rows: 42vh;
    border: 1px solid white;
    text-align: center;
}

.selected div.return {
    grid-area: return;
    border: 1px solid white;
}

.selected div.description {
    font-size: 36px;
    grid-area: description;
    border: 1px solid white;
}

.selected div.stats {
    font-size: 36px;
    grid-area: stats;
    border: 1px solid white;
}

.attributes {
    display: grid;
    grid-template-areas: "talent1name talent1name talent1name talent1name level level talent2name talent2name talent2name talent2name"
    "talent1attributes talent1attributes talent1stones talent1stones talent1stones talent2attributes talent2attributes talent2attributes talent2stones talent2stones"
    "fitness focus precision sense sense skills1 skills1 skills2 skills3 skills4";
    grid-template-rows: 100px 300px 300px;
    grid-template-columns: 245px 245px 245px 125px 120px 120px 125px 245px 245px 245px;
    background-color: #bbbbbb;
    border: 1px solid white;
    text-align: center;
    
}

.attributes div.talent1name {
    grid-area: talent1name;
    border-style: solid;
    border-color: whitesmoke;
    border: 1px solid white;
}

.attributes div.talent2name {
    grid-area: talent2name;
    border: 1px solid white;
}

.attributes div.talent1attributes {
    grid-area: talent1attributes;
    border: 1px solid white;
}

.attributes div.talent2attributes {
    grid-area: talent2attributes;
    border: 1px solid white;
}

.attributes div.talent1stones {
    grid-area: talent1stones;
    border: 1px solid white;
}

.attributes div.talent2stones {
    grid-area: talent2stones;
    border: 1px solid white;
}

.attributes div.level {
    grid-area: level;
    border: 1px solid white;
}

.attributes div.fitness {
    grid-area: fitness;
    border: 1px solid white;
}

.attributes div.focus {
    grid-area: focus;
    border: 1px solid white;
}

.attributes div.precision {
    grid-area: precision;
    border: 1px solid white;
}
.attributes div.sense {
    grid-area: sense;
    border: 1px solid white;
}

.attributes div.skills1 {
    grid-area: skills1;
    border: 1px solid white;
}

.attributes div.skills2 {
    grid-area: skills2;
    border: 1px solid white;
}

.attributes div.skills3 {
    grid-area: skills3;
    border: 1px solid white;
}

.attributes div.skills4 {
    grid-area: skills4;
    border: 1px solid white;
}

.attributeNotSelected {
    border: 1px solid white;
    height: 70px;
}

.attributeDisallowed {
    border: 1px solid white;
    background-color: #666666;
    height: 70px;
}

.attributeSelected {
    border: 1px solid white;
    color: whitesmoke;
    background-color: #111111;
    height: 70px;
}


.spells {
    display: grid;
    grid-template-areas: "selectedList info info"
    "selectedList filter filter"
    "selectedList choices free";
    grid-template-columns: 500px 1400px 100px;
    grid-template-rows: 150px 100px 500px;
    border: 1px solid white;
    text-align: center;
}

.spells div.selectedList {
    grid-area: selectedList;
    border: 1px solid white;
}

.spells div.info {
    grid-area: info;
    border: 1px solid white;
}

.spells div.filter {
    grid-area: filter;
    border: 1px solid white;
}

.spells div.choices {
    grid-area: choices;
    border: 1px solid white;
}

.spells div.free {
    grid-area: free;
    border: 1px solid white;
}

.equipment {
    display: grid;
    grid-template-areas: "inventory proficiencies search";
    border: 1px solid white;
    text-align: center;
    grid-template-columns: 500px 500px 500px;
    gap: 10px;
}

.equipment div.inventory {
    grid-area: inventory;
    border: 1px solid white;
}

.inventory div.inventoryHeader {
    display: grid;
    grid-template-areas: "currency supplies"
    "reagents materials"
    "innerwear outerwear";
    grid-template-columns: 250px 250px;
    grid-template-rows: 75px 75px 175px;
}

.inventoryHeader div.currency {
    grid-area: currency;
    border: 1px solid black;
}

.inventoryHeader div.supplies {
    grid-area: supplies;
    border: 1px solid black;
}

.inventoryHeader div.reagents {
    grid-area: reagents;
    border: 1px solid black;
}

.inventoryHeader div.materials {
    grid-area: materials;
    border: 1px solid black;
}

.inventoryHeader div.innerwear {
    grid-area: innerwear;
    border: 1px solid black;
}

.inventoryHeader div.outerwear {
    grid-area: outerwear;
    border: 1px solid black;
}

.equipment div.proficiencies {
    grid-area: proficiencies;
    border: 1px solid white;

}

.equipment div.search {
    grid-area: search;
    border: 1px solid white;
}

.story {
    border: 1px solid white;
    text-align: center;
}

.story div.appearance {
    border: 1px solid white;
}

.story div.story {
    border: 1px solid white;
}

.story div.motivations {
    border: 1px solid white;
}