body {
    /*Size*/
    /*Layout*/
    /*Border*/
    /*Boundaries*/
    /*Color and Text Styles*/
    /*Interactive*/
    background-image: url("../spellblade/Background2.png");
    color: var(--primary);
}

.content {
    /*Size*/
    height: 25vh;
    width: 100vw;
    /*Layout*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "login create play";
    /*Border*/
    text-align: center;
    /*Boundaries*/
    margin-top: 25px;
    /*Color and Text Styles*/
    font-size: var(--font-xl);
    color: var(--primary);
}

.content div.create {
    /*Layout*/
    grid-area: create;
    align-content: center;
    /*Border*/
    border-image: var(--border-select);
    border-image-slice: 25% 25%;
    border-image-width: 50px 50px;
    border-radius: var(--radius);
    /*Color and Text Styles*/
    background-color: var(--card);
}

.content div.create:hover {
    /*Border*/
    border-image: var(--border-select-glow);
    border-image-slice: 25% 25%;
    border-image-width: 50px 50px;
    /*Color and Text Styles*/
    background-color: var(--accent);
    /*Interactive*/
    cursor: pointer;
}

.content div.play {
    /*Layout*/
    grid-area: play;
    align-content: center;
    /*Border*/
    border-image: var(--border-select);
    border-image-slice: 25% 25% fill;
    border-image-width: 50px 50px;
    border-radius: var(--radius);
    /*Color and Text Styles*/
    background-color: var(--card);
    
}

.content div.play:hover {
    /*Border*/
    border-image: var(--border-select-glow);
    border-image-slice: 25% 25%;
    border-image-width: 50px 50px;
    /*Color and Text Styles*/
    background-color: var(--accent);
    /*Interactive*/
    cursor: pointer;
}

.content div.login {
    /*Layout*/
    grid-area: login;
    align-content: center;
    /*Border*/
    border-image: var(--border-select);
    border-image-slice: 25% 25%;
    border-image-width: 50px 50px;
    border-radius: var(--radius);
    /*Color and Text Styles*/
    background-color: var(--card);
}

.content div.login:hover {
    /*Border*/
    border-image: var(--border-select-glow);
    border-image-slice: 25% 25%;
    border-image-width: 50px 50px;
    /*Color and Text Styles*/
    background-color: var(--accent);
    /*Interactive*/
    cursor: pointer;
}