.invPanel {
    max-width: 40vw;
    height: calc(100vh - 150px);
    border-image: var(--border-default);
    border-image-slice: 25% 25%;
    border-image-width: 50px 50px;
    border-radius: var(--radius);
    display: grid;
    grid-template-areas: "invTitle invTitle invTitle invTitle"
    "currencies expand expand pinned"
    "supplies supplies pinnedTable pinnedTable"
    "reagents reagents pinnedTable pinnedTable"
    "materials materials pinnedTable pinnedTable"
    "equip1 equip1 pinnedTable pinnedTable"
    "equip2 equip2 pinnedTable pinnedTable"
    "innerwear innerwear pinnedTable pinnedTable"
    "outerwear outerwear pinnedTable pinnedTable";
    grid-template-columns: 4fr 1fr 1fr 4fr;
    grid-template-rows: var(--font-lg) var(--font-md) var(--font-md) var(--font-md) var(--font-md) 6fr 6fr 4fr 4fr;
    background-color: var(--card);
    color: var(--primary);
    font-size: var(--font-sm);
    padding: 8px;
    line-height: 1.3;
    position: relative;
}

.toolTip {
    visibility: hidden;
    background-color: black;
    color: whitesmoke;
    position: absolute;
    z-index: 2;
    bottom: -20px;
    font-size: var(--font-xsm);
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 8px;
}

.invPanel div.pinned {
    grid-area: pinned;
    border: 1px solid black;
    text-align: center;
    clip-path: polygon(20px 0%, 100% 0%, 100% 100%, 0% 100%);
}

.invPanel div.pinnedTable {
    grid-area: pinnedTable;
    border: 1px solid black;
    text-align: center;
    overflow-y: auto;
}

.invPanel div.invTitle {
    font-size: var(--font-md);
    grid-area: invTitle;
    border: 1px solid black;
    text-align: center;
}

.invPanel div.currencies {
    grid-area: currencies;
    border-bottom: 1px solid black;
    display: flex;
}

.currencies:hover div.currencyTotal {
    width: 0;
    text-wrap: nowrap;
}

.currencies:hover div.currencyDesc {
    flex: 1;
    overflow: visible;
    border-right: 1px solid black;
    padding-left: 4px;
    padding-right: 4px;
}

.currencies div.currencyTotal {
    overflow: hidden;
}

.currencies div.currencyDesc {
    width: 0;
    overflow: hidden;
    text-align: center;
    text-wrap: nowrap;
    position: relative;
}

.currencies div.currencyDesc:hover {
    cursor: pointer;
}

.currencyDesc:hover div.toolTip {
    visibility: visible;
}

.invPanel div.supplies {
    grid-area: supplies;
    border-bottom: 1px solid black;
    display: flex;
}

.supplies:hover div.supplyTotal {
    width: 0;
    text-wrap: nowrap;
}

.supplies:hover div.supplyDesc {
    flex: 1;
    overflow: visible;
    border-right: 1px solid black;
    padding-left: 4px;
    padding-right: 4px;
}

.supplyDesc:hover div.toolTip {
    visibility: visible;
}

.supplies div.supplyTotal {
    overflow: hidden;
}

.supplies div.supplyDesc {
    width: 0;
    overflow: hidden;
    text-align: center;
    text-wrap: nowrap;
    position: relative;
}

.supplies div.supplyDesc:hover {
    cursor: pointer;
}

.invPanel div.reagents {
    grid-area: reagents;
    border-bottom: 1px solid black;
    display: flex;
}

.reagents:hover div.reagentTotal {
    width: 0;
    text-wrap: nowrap;
}

.reagents:hover div.reagentDesc {
    flex: 1;
    border-right: 1px solid black;
    padding-left: 4px;
    padding-right: 4px;
    overflow: visible;
}

.reagents div.reagentTotal {
    overflow: hidden;
}

.reagents div.reagentDesc {
    width: 0;
    overflow: hidden;
    text-align: center;
    text-wrap: nowrap;
    position: relative;
}

.reagents div.reagentDesc:hover {
    cursor: pointer;
}

.reagentDesc:hover div.toolTip {
    visibility: visible;
}

.invPanel div.materials {
    grid-area: materials;
    border-bottom: 1px solid black;
    display: flex;
}

.materials:hover div.materialTotal {
    width: 0;
    text-wrap: nowrap;
}

.materials:hover div.materialDesc {
    flex: 1;
    border-right: 1px solid black;
    padding-left: 4px;
    padding-right: 4px;
    text-align: center;
    overflow: visible;
}

.materials div.materialTotal {
    overflow: hidden;
}

.materials div.materialDesc {
    width: 0;
    overflow: hidden;
    text-wrap: nowrap;
    position: relative;
}

.materials div.materialDesc:hover {
    cursor: pointer;
}

.materialDesc:hover div.toolTip {
    visibility: visible;
}

.equip1 {
    grid-area: equip1;
    border-image: var(--border-select);
    border-image-slice: 25% 25%;
    border-image-width: 50px 50px;
    border-radius: var(--radius);
    display: grid;
    grid-template-areas: "weaponName weaponName weaponName"
    "attackName attackCost attackRange"
    "attackEffect attackEffect attackEffect"
    "propertyName propertyCost propertyCost"
    "propertyEffect propertyEffect propertyEffect"
    "special special special";
    grid-template-columns: 2fr 1.5fr 1fr;
    grid-template-rows: 3fr 2fr 2fr 2fr auto 2fr;
    font-size: var(--font-xsm);
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 4px;
    line-height: 1.2;
}

.equip1:hover {
    cursor: pointer;
    border-image: var(--border-select-glow);
    border-image-slice: 25% 25%;
    border-image-width: 50px 50px;
    border-radius: var(--radius);
}


.equip2 {
    grid-area: equip2;
    border-image: var(--border-select);
    border-image-slice: 25% 25%;
    border-image-width: 50px 50px;
    border-radius: var(--radius);
    display: grid;
    grid-template-areas: "weaponName weaponName weaponName"
    "attackName attackCost attackRange"
    "attackEffect attackEffect attackEffect"
    "propertyName propertyCost propertyCost"
    "propertyEffect propertyEffect propertyEffect"
    "special special special";
    grid-template-columns: 2fr 1.5fr 1fr;
    grid-template-rows: 3fr 2fr 2fr 2fr auto 2fr;
    font-size: var(--font-xsm);
    padding-left: 12px;
    padding-right: 12px;
    line-height: 1.2;
}

.equip2:hover {
    cursor: pointer;
    border-image: var(--border-select-glow);
    border-image-slice: 25% 25%;
    border-image-width: 50px 50px;
    border-radius: var(--radius);
}

.weaponName {
    font-size: var(--font-md);
    grid-area: weaponName;
    text-align: center;
    border: 1px solid black;
}

.weaponAttackName {
    grid-area: attackName;
    text-align: center;
    border: 1px solid black;
}

.weaponAttackCost {
    grid-area: attackCost;
    text-align: center;
    border: 1px solid black;
}

.weaponAttackRange {
    grid-area: attackRange;
    text-align: center;
    border: 1px solid black;
}

.weaponAttackEffect {
    grid-area: attackEffect;
    border: 1px solid black;
    text-align: center;
}

.weaponPropertyName {
    grid-area: propertyName;
    text-align: center;
    border: 1px solid black;
}

.weaponPropertyCost {
    grid-area: propertyCost;
    text-align: center;
    border: 1px solid black;
}

.weaponPropertyEffect {
    grid-area: propertyEffect;
    border: 1px solid black;
    font-size: var(--font-xsm);
}

.weaponSpecial {
    grid-area: special;
    border: 1px solid black;
    font-size: var(--font-xsm);
}

.invPanel div.innerwear {
    grid-area: innerwear;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.innerwear div.innerName {
    border: 1px solid black;
}

.innerwear div.innerDesc {
    border: 1px solid black;
    font-size: var(--font-xsm);
}

.invPanel div.outerwear {
    grid-area: outerwear;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.outerwear div.outerName {
    border: 1px solid black;
}

.outerwear div.outerDesc {
    border: 1px solid black;
    font-size: var(--font-xsm);
}

.expandInventory:hover {
    background-color: var(--accent);
    cursor: pointer;
}

.invPanel button.expand {
    grid-area: expand;
    text-align: center;
    clip-path: polygon(0% 0%, 100% 0%, calc(100% - 20px) 100%, 20px 100%);
    background:rgb(210, 230, 173);
    margin-left: -18px;
    margin-right: -18px;
    z-index: 3;
}

.invPanel div.expand:hover {
    cursor: pointer;
}

.invPanel div.itemTable {
    grid-area: itemTable;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-right: 12px;
    position: absolute;
    background-color: var(--card);
    top: calc(var(--font-md) + var(--font-lg));
    border-radius: var(--radius);
    height: calc(100% - 16px - var(--font-md) - var(--font-lg));
    width: calc(100% - 16px);
    margin: 8px;
    z-index: 2;
}

.tableRow {
    min-height: min-content;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr;
    font-size: var(--font-xsm);
    /*Border*/
}

.pinnedSummary {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr;
    cursor: pointer;
    text-align: left;
}

.tableSummary {
    display: grid;
    grid-template-columns: 5fr 3fr 2fr 1fr 1fr;
    cursor: pointer;
    text-align: left;
}

 .tableCellName {
    font-size: var(--font-sm);
    border: 1px solid var(--primary);
    text-align: left;
    padding-left: 12px;
}

.tableCellDesc {
    text-align: left;
    padding: 8px;
    padding-left: 4px;
    margin-left: 4px;
    margin-right: 4px;
    border: 1px solid black;
}

.tableCellContent {
    border: 1px solid var(--primary);
    flex: 3;
    text-align: center;
}

.tableCellButton {
    border: 1px solid var(--primary);
    flex: 3;
    text-align: center;
    z-index: 1;
}

.tableCellButton:hover {
    cursor: pointer;
    background-color: var(--accent);
    display: inline-block;
}

.tableCellInput {
    width: calc(var(--font-md) + 6px);
    border: 1px solid black;
    text-align: center;
}

.lgInput {
    width: calc(var(--font-md) + 6px);
    text-align: right;
}

.smInput {
    width: calc(var(--font-sm));
    text-align: right;
}