.mainPanel {
    height: calc(100vh - 150px);
    max-width: 40vw;
    border-image: var(--border-default);
    border-image-slice: 25% 25%;
    border-image-width: 50px 50px;
    border-radius: var(--radius);
    display: grid;
    grid-template-areas: "name name name name name"
    "picture picture mana mana health"
    "picture picture conditions conditions conditions"
    "mainskills talent1Name talent1Name talent2Name talent2Name"
    "mainskills talent1Attributes talent1Attributes talent2Attributes talent2Attributes";
    grid-template-columns: 6fr 2fr 7fr 1fr 8fr;
    grid-template-rows: 2fr 3fr 4fr 1fr 8fr;
    background-color: var(--card);
    padding: 8px;
    color: var(--primary);
}

.mainPanel div.characterName {
    grid-area: name;
    font-size: var(--font-lg);
    border: 1px solid black;
    text-align: center;
}

.mainPanel div.mana {
    grid-area: mana;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    font-size: var(--font-sm);
}


.mana div.movement {
    flex: 1;
    border: 1px solid black;
}

.mana div.manaPoints {
    flex: 1;
    border: 1px solid black;
}

.mana div.wounds {
    flex: 1;
    border: 1px solid black;
}

.mainPanel div.picture {
    z-index: 1;
    border-radius: var(--radius);
    grid-area: picture;
    background-image: linear-gradient(rgb(179, 179, 255), rgb(85, 85, 85));
}

.mainPanel div.health {
    grid-area: health;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    font-size: var(--font-sm);
}

.health div.hitPoints {
    flex: 1;
    border: 1px solid black;
}

.hitPoints div.hitCalc {
    display: inline;
    background-color: rgb(194, 194, 194);
    border-radius: 10px;
    padding: 5px;
    margin-left: 10px;
}
.hitPoints div.hitCalc:hover {
    background-color: rgb(226, 226, 226);
    cursor: pointer;
}

.health div.currentArmor {
    flex: 1;
    border: 1px solid black;
}

.health div.minArmor {
    flex: 1;
    border: 1px solid black;
}

.mainPanel div.mainSkills {
    grid-area: mainskills;
    border: 1px solid black;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.mainSkills div.skillsTitle {
    grid-area: title;
    border: 1px solid black;
    text-align: center;
    font-size: var(--font-sm);
}

.mainSkills div.skillCell {
    flex: 1;
    border: 1px solid black;
    font-size: var(--font-xsm);
}

.mainPanel div.conditions {
    grid-area: conditions;
    border: 1px solid black;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: var(--font-sm);
}

.conditions textarea {
    border: 1px solid black;
    flex: 1;
    font-size: var(--font-xsm);
    
}

.mainPanel div.talent1Name {
    grid-area: talent1Name;
    border: 1px solid black;
    text-align: center;
    font-size: var(--font-sm);
}

.mainPanel div.talent2Name {
    grid-area: talent2Name;
    border: 1px solid black;
    text-align: center;
    font-size: var(--font-sm);
}

.mainPanel div.talent1Attributes {
    grid-area: talent1Attributes;
    border: 1px solid black;
    font-size: var(--font-xsm);
    overflow-y: auto;
}

.mainPanel div.talent2Attributes {
    grid-area: talent2Attributes;
    border: 1px solid black;
    font-size: var(--font-xsm);
    overflow-y: auto;
}